/*GENERAL*/
.page-section {
    padding: 10px;
    margin: 10px;
}

.box-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-small {
    align-self: center;
    min-width: 280px;
    width: 50%;
}

/*PAGE COMPONENTS*/

.error {
    display: none;
    background-color: #ff9494;
}

.login {
    background-color: #f3f2f2;
}

.logout {
    background-color: #f3f2f2;
    text-align: center;
}

.div-hscroll {
    display: flex;
    align-items: center;
    background-color: transparent;
    overflow-x: auto;
}

.quantity {
    display: inline;
    border-width: medium;
}

.inline-right {
    display: inline;
    float: right;
}

.inline-block {
    display: inline-block;
}

/*NAVIGATION COMPONENTS*/
nav {
    background-color: #f3f2f2;
}

.link {
    color: black;
}

.nav-right {

}
