<div class="page-section">

    <% if(data.divText) { %>
        <h1><%= data.divText %></h1>
    <% } %>

    <div class="div-hscroll box-shadow" style="background-color: <%= data.backcolor%>">
        <% for(let i = 0; i < 10; i++){ %>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        <% } %>
    </div>
</div>

<script>

</script>
