<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><b>Computer Parts Store</b></a>
    <label class="input-group">
        <input type="text" class="form-control" placeholder="Search" id="search-bar">
        <div class="input-group-append" id="search-btn">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
        </div>
    </label>
</nav>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="nav-link" href="/">
        <div class="link">
            Store
        </div>
    </a>
    <a class="nav-link" href="/shop/about">
        <div class="link">
            About
        </div>
    </a>
    <a class="nav-link mr-auto" href="/shop/checkout">
        <div class="link">
            Cart
        </div>
    </a>
    <a class="nav-link btn btn-warning ml-auto" id="add-link" style="display: none">
        <div class="link" id="add-text">Add Items</div>
    </a>
    <a class="nav-link" id="account-link">
        <div class="link" id="account-text"></div>
    </a>
    <a class="nav-link" id="log-in-link">
        <div class="link" id="log-in-text"></div>
    </a>
</nav>

<script>
    document.getElementById("search-btn").addEventListener("click", doSearch);

    let logoutRef = "/auth/logout"
    let loginRef = "/auth/login"
    let accountRef = "/account/get"
    let addRef = "/shop/add"

    let link = document.getElementById("log-in-link");
    let text = document.getElementById("log-in-text");
    link.href = token ? logoutRef : loginRef;
    text.innerHTML = token ? "Log out" : "Log in";

    let accLink = document.getElementById("account-link");
    let accText = document.getElementById("account-text");
    accLink.style.display = token ? "inline-block" : "none";
    accLink.href = accountRef;
    accText.innerText = displayName ? displayName : "Account"

    if (isAdmin) {
        let addItem = document.getElementById("add-link");
        addItem.style.display = "inline-block";
        addItem.href = addRef;
    }

    function doSearch() {
        let searchText = document.getElementById("search-bar").value;
        let searchQueryUrl = new URL(window.location.origin + "/shop/items/search");
        searchQueryUrl.searchParams.append("q", searchText);
        window.location.href = searchQueryUrl.href;
    }
</script>
