<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><b>Computer Parts Store</b></a>
    <label class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
        </div>
    </label>
</nav>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="nav-link" href="/">
        <div class="link">
            Store
        </div>
    </a>
    <a class="nav-link" href="/shop/about">
        <div class="link">
            About
        </div>
    </a>
    <a class="nav-link mr-auto" href="/shop/checkout">
        <div class="link">
            Cart
        </div>
    </a>
    <a class="nav-link ml-auto" id="account-link">
        <div class="link" id="account-text">Account</div>
    </a>
    <a class="nav-link" id="log-in-link">
        <div class="link" id="log-in-text"></div>
    </a>
</nav>

<script>
    let token = window.localStorage.getItem("token");
    let logoutRef = "/auth/logout"
    let loginRef = "/auth/login"
    let accountRef = "/account/get"

    let link = document.getElementById("log-in-link");
    let text = document.getElementById("log-in-text");
    link.href = token ? logoutRef : loginRef;
    text.innerHTML = token ? "Log out" : "Log in";

    let accLink = document.getElementById("account-link");
    let accText = document.getElementById("account-text");
    accLink.style.display = token ? "inline-block" : "none";
    accLink.href = accountRef;
</script>
