<div class="box-shadow page-section">
    <div>
        <label><b>About The Computer Store</b></label>
        <label contenteditable="false">
            The Computer Store is a web service and application.
            You can see the open source for this project here:
            https://gitlab.ecs.vuw.ac.nz/packet-loss/computer-parts-store
        </label>
    </div>
</div>
