<div class="login box-shadow page-section">
    <Title>About The Computer Store</Title>
    The Computer Store is a web service and application.
    You can see the open source for this project <link href="https://gitlab.ecs.vuw.ac.nz/packet-loss/computer-parts-store">here<link>
</div>
