<div>
    <div class="card box-shadow page-section" id="account-contents"></div>
    <div class="card box-shadow page-section" id="account-orders"></div>
</div>

<script>
    // Close SUCCESS and ERROR cards, open LOADING card
    resetCards();

    // Get the two dynamic components
    let accountContents = document.getElementById("account-contents");
    let accountOrders = document.getElementById("account-orders");

    // Variables utilized for ease of reading fetch request
    let contentsURL = window.location.origin + "/api/v1/account/get"
    let orderURL = window.location.origin + "/api/v1/orders/get/all/details"

    fetch(contentsURL, {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
            token: token
        })
    })
        .then(data => data.json())
        .then(info => {
            // Extract the necessary information from the provided user
            const {email, displayName, _id} = info;

            // Set the contents of the account information panel
            accountContents.innerHTML = `
                    <div class="card-body">
                    <h5 class="card-title">Account Information:</h5>
                    <a class="card-text"><b>Email: </b>${email}<br/></a>
                    <a class="card-text"><b>Name: </b>${displayName}<br/></a>
                    <a class="card-text"><b>Id: </b>${_id}<br/></a>
                    </div>
            `

            // Fetch the order history of this user
            fetch(orderURL, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    token: token
                })
            })
                .then(res => res.json())
                .then(res => {
                    // Empty the order html element before appending new content
                    accountOrders.innerHTML = ""

                    // If there are no orders, tell the user
                    if (res.orders.length === 0) {
                        accountOrders.innerHTML = `
                    <div class="card-body">
                    <h5 class="card-title">No orders yet</h5>
                    </div>
                    `
                        // Stop the loading bar, this function is finished
                        loadingCard.style.display = "none";
                        return;
                    }

                    // If there are orders for the user
                    res.orders.forEach(order => {
                        // Extract the contents from the order
                        const {_id, orderDate, items} = order;
                        let total = 0;

                        // Dynamically appends this order item to the order card
                        accountOrders.innerHTML += `
                        <div class="card-body" style="background-color: #f3f2f2">
                        <h5 class="card-title">Order: ${_id}</h5>
                        <a class="card-text"><b>Date Ordered: </b>${orderDate}<br/><br/></a>
                        </div>
                        `

                        // Dynamically add each item from the order to the order card under it's order title (above)
                        items.forEach(i => {
                            let item = i.item;
                            let quantity = Number(i.quantity);
                            if (!item.error) {
                                const {title, brand, category, cost} = item;
                                total += (Number(cost) * quantity)

                                accountOrders.innerHTML += `
                                    <div class="card-body">
                                    <h6 class="card-subtitle text-muted">Item: X${quantity}<br/></h6>
                                    <a class="card-text"><b>Title: </b>${title}<br/></a>
                                    <a class="card-text"><b>Brand: </b>${brand}<br/></a>
                                    <a class="card-text"><b>Category: </b>${category}<br/></a>
                                    </div>
                                    `
                            }
                        })

                        // Show the total for some order at the bottom of the items text
                        accountOrders.innerHTML += `
                                    <div class="card-body">
                                    <h5 class="card-title">Total: $${total.toFixed(2)}</h5>
                                    </div><br/>`
                    })

                    // Loading has finished, stop showing the loading spinner
                    loadingCard.style.display = "none";
                })
        })
</script>
