<div>
    <div class="card-body" id="add-card">

        <p class="card-text">
            Inputs with a '*' next to their name are mandatory.
        </p>

        <div class="form-group">
            <label><b>Title: *</b></label>
            <input class="form-control form-control-sm" id="add-title"/>
        </div>

        <div class="form-group">
            <label><b>Available:</b></label>
            <select class="form-control form-control-sm" id="add-available">
                <option>True</option>
                <option>False</option>
            </select>
        </div>

        <div class="form-group">
            <label><b>Cost per item:</b></label>
            <input class="form-control form-control-sm" type="number" id="add-cost" value="0.00"/>
        </div>

        <div class="form-group">
            <label><b>Category:</b></label>
            <input class="form-control form-control-sm" id="add-category"/>
        </div>

        <div class="form-group">
            <label><b>Brand:</b></label>
            <input class="form-control form-control-sm" id="add-brand"/>
        </div>

        <div class="form-group">
            <label><b>Description: *</b></label>
            <input class="form-control form-control-sm" id="add-description"/>
        </div>

        <div class="form-group">
            <a class="btn btn-warning inline-block" onclick="addItem()">Add To Store</a>
        </div>
    </div>
</div>

<script>

    function addItem() {
        resetCards();

        let addUrl = window.location.origin + "/api/v1/shop/items/add";

        let titleEle = document.getElementById("add-title");
        let availableEle = document.getElementById("add-available");
        let costEle = document.getElementById("add-cost");
        let categoryEle = document.getElementById("add-category");
        let brandEle = document.getElementById("add-brand");
        let descriptionEle = document.getElementById("add-description");

        let title = titleEle.value;
        let available = availableEle.value === "True";
        let cost = Number(costEle.value);
        let category = categoryEle.value;
        let brand = brandEle.value;
        let description = descriptionEle.value;

        fetch(addUrl, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                token: token,
                title: title,
                available: available,
                cost: cost,
                category: category,
                brand: brand,
                description: description,
            })
        })
            .then(res => res.json())
            .then(res => {
                if (!res) {
                    errorCard.style.display = "block"
                    errorCard.innerHTML += `<b>- Unable to make delete request</b>`;
                    return;
                }

                if (res.errors) {
                    // Show errors
                    errorCard.style.display = "block"
                    errorCard.innerHTML = ""
                    res.errors.forEach(error => {
                        errorCard.innerHTML += `<b>- ${error}<br/></b>`;
                    })
                } else {
                    // Show success
                    successCard.style.display = "block";
                    successCard.innerHTML = `<b>'${title}' has been successfully added to the store</b>`;
                    titleEle.value = "";
                    availableEle.value = "True"
                    costEle.value = ""
                    categoryEle.value = "";
                    brandEle.value = "";
                    descriptionEle.value = "";
                }

                loadingCard.style.display = "none";
            })
    }
</script>


