<div class="login box-shadow page-section">
    <label><b>Forgot Password?</b></label>

    <div class="form-group">
        <label>Email address</label>
        <input id="email" type="email" class="form-control">
        <small id="emailHelp" class="form-text text-muted">We'll send you an email with further instructions</small>
    </div>

    <button id="forgot-btn" class="btn btn-primary">Send Email</button>
</div>


<script>
    // Apply functionality to the forgot button
    document.getElementById("forgot-btn").addEventListener("click", sendResetEmail);


    /**
     * Send fetch req to send an email to the user based on their email address to reset their password.
     */
    function sendResetEmail() {

        // Close SUCCESS and ERROR cards, open LOADING card
        resetCards();

        // Extract variables for ease of reading fetch request
        let emailAddress = document.getElementById("email").value;
        let resetEmailUrl = window.location.origin + "/api/v1/auth/reset"

        fetch(resetEmailUrl, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                email: emailAddress,
            })
        })
            .then(res => res.json())
            .then(res => {
                // If the request has a message then inform the user of the sent email
                if (res.message) {
                    successCard.style.display = "block"
                    successCard.innerHTML = `
                        <b>- ${res.message}<br/></b>
                    `
                }
                loadingCard.style.display = "none";
            })
    }
</script>
