<div class="login box-shadow page-section">
    <label><b>Forgot Password?</b></label>

    <div class="form-group">
        <label>Email address</label>
        <input id="email" type="email" class="form-control">
        <small id="emailHelp" class="form-text text-muted">We'll send you an email with further instructions</small>
    </div>

    <button id="forgot-btn" class="btn btn-primary">Send Email</button>
</div>


<script>
    document.getElementById("forgot-btn").addEventListener("click", sendResetEmail);


    function sendResetEmail() {
        let emailAddress = document.getElementById("email");

    }
</script>
