<div class="logout box-shadow page-section">
    <h4>You have been logged out due to inactivity.</h4>
</div>

<script>
    // Removes all local storage information about the user
    window.localStorage.removeItem("token");
    window.localStorage.removeItem("admin");
    window.localStorage.removeItem("displayName");
    if (document.getElementById("log-in-text").innerText === "Log out") {
        window.location.reload();
    }
</script>
