<div class="loading box-shadow page-section" id="loading-card">
    <div style="display: block; justify-content: center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div>
    <h1>Recommended: </h1>
    <div id="recommended"></div>

    <h1>Store Items: </h1>
    <div id="store-contents"></div>
</div>

<script>
    //TODO: Implement Recommended
    let contents = document.getElementById("store-contents");

    let contentsURL = window.location.origin + "/api/v1/shop/items/all"

    let loadingCard = document.getElementById("loading-card");
    loadingCard.style.display = "flex";

    // Alter all the components on the page
    fetch(contentsURL, {
        method: 'GET',
        headers: {'Content-Type': 'application/json'},
    })
        .then(response => response.json())
        .then(data => {
            loadingCard.style.display = "none";

            data.item.forEach(item => {
                let brand = item.brand;
                let category = item.category;
                let cost = item.cost;
                let description = item.description;
                let title = item.title;
                let id = item._id;

                contents.innerHTML += `
                    <div class="card box-shadow page-section">
                    <div class="card-body">
                    <h5 class="card-title">${title}</h5>
                    <a class="card-text"><b>Cost: </b>$${cost.toFixed(2)}<br/></a>
                    <a class="card-text"><b>Category: </b>${category}<br/></a>
                    <a class="card-text"><b>Brand: </b>${brand}<br/></a>
                    <a class="card-text"><b>Description: </b>${description}<br/></a>
                    <a class="btn btn-primary" onclick="window.location.href = '/shop/items/${id}'">Go to item page</a>
                    </div>
                    </div>`;
            })
        });

</script>
