<div>
    <div class="card-body">
        <h1>Recommended: </h1>
        <div id="recommended" class="div-hscroll"></div>
    </div>

    <div class="card-body">
        <h1>Store Items: </h1>
        <div id="store-contents"></div>
    </div>
</div>

<script>
    // Close SUCCESS and ERROR cards, open LOADING card
    resetCards();

    // Extract the contents of the DOM
    let contents = document.getElementById("store-contents");
    let recommended = document.getElementById("recommended");

    // RESET the contents of the DOM elemenmts
    contents.innerHTML = "";
    recommended.innerHTML = "";

    // Extract URLS for ease of reading fetch req
    let contentsURL = window.location.origin + "/api/v1/shop/items/all"
    let recommendedURL = window.location.origin + "/api/v1/recommend/nearby"

    // Alter all the components on the page
    fetch(contentsURL, {
        method: 'GET',
        headers: {'Content-Type': 'application/json'},
    })
        .then(response => response.json())
        .then(data => {
            // For all the items returned from the request, add them to the store page
            data.items.forEach(item => {
                const {brand, category, cost, description, title, _id} = item;

                contents.innerHTML += `
                    <div class="card box-shadow page-section">
                    <div class="card-body">
                    <h5 class="card-title">${title}</h5>
                    <a class="card-text"><b>Cost: </b>$${cost.toFixed(2)}<br/></a>
                    <a class="card-text"><b>Category: </b>${category}<br/></a>
                    <a class="card-text"><b>Brand: </b>${brand}<br/></a>
                    <a class="card-text"><b>Description: </b>${description}<br/></a>
                    <a class="btn btn-primary" onclick="window.location.href = '/shop/items/${_id}'">Go to item page</a>
                    </div>
                    </div>`;
            })
        });

    // Alter all the components for the recommended bar
    fetch(recommendedURL, {
        method: 'GET',
        headers: {'Content-Type': 'application/json'},
    })
        .then(res => res.json())
        .then(res => {
            // For all the items returned from the request, add them to the recommended component
            res.recommendations.forEach(rec => {
                recommended.innerHTML += `
                        <div class="card-small box-shadow">
                        <div class="card-body">
                        <h5 class="card-title">${rec.name}<br/></h5>
                        </div>
                        <div class="card-body">
                        <label><b>User Rating:</b></label>
                        <label>${rec.userRatingsTotal}</label>
                        </div>
                        <div class="card-body">
                        <label><b>Location: </b></label>
                        <label>${rec.vicinity}</label>
                        </div>
                        </div>
                `
            })
            loadingCard.style.display = "none";
        })

</script>
