<div>
    <!-- RECOMMENDED CONTENT -->
    <%- include('../partials/store/ScrollView', {data: {divText: "Recommended for you:"}}) %>

    <!-- NEW CONTENT -->
    <%- include('../partials/store/ScrollView', {data: {divText: "New This Week:"}}) %>

    <!-- SPECIAL DEALS -->
    <%- include('../partials/store/ScrollView', {data: {divText: "Best Deals:"}}) %>

    <!-- TOP SELLERS -->
    <%- include('../partials/store/ScrollView', {data: {divText: "Top Selling:"}}) %>
</div>
