<div class="success box-shadow page-section" id="success-card"></div>
<div class="error box-shadow page-section" id="error-card"></div>

<div>
    <div class="box-shadow card page-section" id="item-content"></div>
</div>

<script>
    let urlContents = window.location.href.split("/");
    let itemId = urlContents[urlContents.length - 1];

    let contents = document.getElementById("item-content");
    let url = window.location.origin + "/api/v1/shop/items/" + itemId;
    let isAdmin = window.localStorage.getItem("admin");

    fetch(url, {
        method: 'GET',
        headers: {'Content-Type': 'application/json'},
    })
        .then(data => data.json())
        .then(item => {
            let i = item.item;
            let id = i._id;
            let available = i.available;
            let brand = i.brand;
            let category = i.category;
            let cost = i.cost;
            let description = i.description;
            let title = i.title;
            let createdDate = new Date(i.createdDate);
            let updatedDate = new Date(i.updatedDate);


            contents.innerHTML += `
                    <div class="card-body">
                    <h5 class="card-title">${title}</h5>
                    <a class="card-text"><b>ID: </b>${id}<br/></a>
                    <a class="card-text"><b>Available: </b>${available}<br/></a>
                    <a class="card-text"><b>Cost per item: </b>$${cost.toFixed(2)}<br/></a>
                    <a class="card-text"><b>Category: </b>${category}<br/></a>
                    <a class="card-text"><b>Brand: </b>${brand}<br/></a>
                    <a class="card-text"><b>Description: </b>${description}<br/></a>
                    <a class="card-text"><b>Created: </b>${createdDate}<br/></a>
                    <a class="card-text"><b>Updated: </b>${updatedDate}<br/></a>
                    </div>

                    <div class="card box-shadow page-section">
                    <div>
                    <label>Quantity: </label>
                    <input  class="quantity" value="1" id="quantity-amount" min="1" type="number"></input>
                    <a class="btn btn-primary mr-auto inline-right" onclick="addToCart('${id}', '${title}')">Add to cart</a>
                    </div>
                    </div>`;

            if (isAdmin){
                contents.innerHTML += `
                    <div class="card-body">
                    <a class="btn btn-primary inline-block" onclick="window.location.href = '/shop/items/${id}'">Delete</a>
                    <a class="btn btn-primary inline-block" onclick="window.location.href = '/shop/items/${id}'">Update</a>
                    </div>
                `;
            }
        })

    function addToCart(id, itemTitle){
        let addUrl = window.location.origin + "/api/v1/cart/add";
        let doc = document.getElementById("quantity-amount");
        let quantity = Number(doc.value);

        if (isNaN(quantity) || !id){
            // TODO: ERROR
            return;
        }

        fetch(addUrl, {
            method: 'PUT',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                token: token,
                itemId: id,
                quantity: quantity,
            })
        })
        .then(() => {
            if (!token){
                let error = document.getElementById("error-card");
                error.style.display = "block";
                error.innerHTML = `<b>You must be logged in to add to your cart</b>`;
                return;
            }

            let success = document.getElementById("success-card");
            success.style.display = "block";
            success.innerHTML = `<b>${quantity} x "${itemTitle}" successfully added to your cart</b>`;

        })
    }
</script>
