<div class="logout box-shadow page-section">
    <h4>You have been logged out.</h4>
</div>

<script>
    // Remove all items from the local storage, no user reference
    window.localStorage.removeItem("token");
    window.localStorage.removeItem("admin");
    window.localStorage.removeItem("displayName");
    if (document.getElementById("log-in-text").innerText === "Log out") {
        window.location.reload();
    }
</script>
