<div class="login box-shadow page-section">
    <label><b>Reset Password</b></label>

    <div class="form-group">
        <label for="password">Password</label>
        <label for="password" id="password-security" class="text-muted"></label>
        <input id="password" type="password" class="form-control">
    </div>
    <div class="form-group">
        <label for="password-confirm">Confirm Password</label>
        <input id="password-confirm" type="password" class="form-control">
    </div>
    <div class="form-group form-check">
        <input id="show-password" type="checkbox" class="form-check-input">
        <label class="form-check-label">Show Password</label>
    </div>
    <button id="reset-btn" class="btn btn-primary">Reset Password</button>
</div>


<script>
    document.getElementById("password").addEventListener("input", () => passwordComplexity());
    document.getElementById("show-password").addEventListener('change', showPassword);
    document.getElementById("reset-btn").addEventListener('click', resetPassword);


    function showPassword() {
        let value = document.getElementById("password").type;
        document.getElementById("password").type = value === "password" ? "text" : "password";
        document.getElementById("password-confirm").type = value === "password" ? "text" : "password";
    }

    function resetPassword() {
        resetCards();
        let seed = window.location.href.replaceAll(window.location.origin + "/auth/reset?seed=", "");
        let pass = document.getElementById("password")?.value;
        let passConfirm = document.getElementById("password-confirm")?.value;


        let url = window.location.origin + "/api/v1/auth/reset/redeem";

        if (pass !== passConfirm) {
            errorCard.style.display = "block";
            errorCard.innerHTML = ""
            errorCard.innerHTML += `<b> - \tPasswords are not the same<br/></b>`;
            loadingCard.style.display = "none";
            return;
        }

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: JSON.stringify({
                seed: seed,
                password: pass,
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.errors) {
                    errorCard.style.display = "block";
                    errorCard.innerHTML = ""
                    data.errors.forEach(error => {
                        errorCard.innerHTML += `<b> - \t${error}<br/></b>`;
                    });
                } else {
                    successCard.style.display = "block";
                    successCard.innerHTML = ""
                    successCard.innerHTML += `<b> - Password successfully updated<br/></b>`;
                }
                loadingCard.style.display = "none";
            });
    }

    function passwordComplexity() {
        let pw = document.getElementById("password").value;
        let url = window.location.origin + "/api/v1/auth/complexity";

        fetch(url, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                password: pw,
            })
        })
            .then(res => res.json())
            .then(res => {
                let value = res.complexity;
                let complexity = document.getElementById("password-security");

                if (value === "strong") {
                    complexity.innerHTML = `
                        <div>
                        <span class="badge badge-success">STRONG</span>
                        </div>
                    `
                } else if (value === "medium") {
                    complexity.innerHTML = `
                        <div>
                        <span class="badge badge-warning">MEDIUM</span>
                        </div>
                    `
                } else {
                    complexity.innerHTML = `
                        <div>
                        <span class="badge badge-danger">WEAK</span>
                        </div>
                    `
                }
            })

    }
</script>
