<div class="login box-shadow page-section">
    <label><b>Reset Password</b></label>

    <div class="form-group">
        <label for="password">Password</label>
        <label for="password" id="password-security" class="text-muted"></label>
        <input id="password" type="password" class="form-control">
    </div>
    <div class="form-group">
        <label for="password-confirm">Confirm Password</label>
        <input id="password-confirm" type="password" class="form-control">
    </div>
    <div class="form-group form-check">
        <input id="show-password" type="checkbox" class="form-check-input">
        <label class="form-check-label">Show Password</label>
    </div>
    <button id="create-btn" class="btn btn-primary">Reset Password</button>
</div>


<script>
    document.getElementById("show-password").addEventListener('change', showPassword);


    function showPassword() {
        let value = document.getElementById("password").type;
        document.getElementById("password").type = value === "password" ? "text" : "password";
        document.getElementById("password-confirm").type = value === "password" ? "text" : "password";
    }
</script>
