<div class="login box-shadow page-section">
    <label><b>Reset Password</b></label>

    <div class="form-group">
        <label for="password">Password</label>
        <label for="password" id="password-security" class="text-muted"></label>
        <input id="password" type="password" class="form-control">
    </div>
    <div class="form-group">
        <label for="password-confirm">Confirm Password</label>
        <input id="password-confirm" type="password" class="form-control">
    </div>
    <div class="form-group form-check">
        <input id="show-password" type="checkbox" class="form-check-input">
        <label class="form-check-label">Show Password</label>
    </div>
    <button id="reset-btn" class="btn btn-primary">Reset Password</button>
</div>


<script>
    // Add listeners to all buttons such that they can update dynamically
    document.getElementById("password").addEventListener("input", () => passwordComplexity());
    document.getElementById("show-password").addEventListener('change', showPassword);
    document.getElementById("reset-btn").addEventListener('click', resetPassword);


    /**
     * TOGGLE the password text inputs from "password" to "text"
     */
    function showPassword() {
        let value = document.getElementById("password").type;
        document.getElementById("password").type = value === "password" ? "text" : "password";
        document.getElementById("password-confirm").type = value === "password" ? "text" : "password";
    }

    /**
     * Reset the password with the values from the DOM elements
     */
    function resetPassword() {
        // Close SUCCESS and ERROR cards, open LOADING card
        resetCards();

        // Get the seed from the unique HREF sent to the user in an email
        let seed = window.location.href.replaceAll(window.location.origin + "/auth/reset?seed=", "");

        // Get the password and confirm password text
        let pass = document.getElementById("password")?.value;
        let passConfirm = document.getElementById("password-confirm")?.value;


        // Extract the url for ease of reading fetch
        let url = window.location.origin + "/api/v1/auth/reset/redeem";


        // If the passwords don't match, then inform the user and stop everything
        if (pass !== passConfirm) {
            errorCard.style.display = "block";
            errorCard.innerHTML = ""
            errorCard.innerHTML += `<b> - \tPasswords are not the same<br/></b>`;
            loadingCard.style.display = "none";
            return;
        }

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: JSON.stringify({
                seed: seed,
                password: pass,
            })
        })
            .then(response => response.json())
            .then(data => {
                // If there were errors with resetting the password, inform the user
                if (data.errors) {
                    errorCard.style.display = "block";
                    errorCard.innerHTML = ""
                    data.errors.forEach(error => {
                        errorCard.innerHTML += `<b> - \t${error}<br/></b>`;
                    });
                } else {
                    // Tell the user their password has been reset
                    successCard.style.display = "block";
                    successCard.innerHTML = ""
                    successCard.innerHTML += `<b> - Password successfully updated<br/></b>`;
                }
                loadingCard.style.display = "none";
            });
    }

    /**
     * Dynamically update the DOM, telling the user how secure their password currently is.
     */
    function passwordComplexity() {
        // Get the password
        let pw = document.getElementById("password").value;

        // Extract URL for ease of reading fetch
        let url = window.location.origin + "/api/v1/auth/complexity";

        fetch(url, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                password: pw,
            })
        })
            .then(res => res.json())
            .then(res => {
                // Extract necessary information about the password complexity
                let value = res.complexity;
                let complexity = document.getElementById("password-security");

                // If the value is strong, GREEN icon
                if (value === "strong") {
                    complexity.innerHTML = `
                        <div>
                        <span class="badge badge-success">STRONG</span>
                        </div>
                    `
                }
                // If the value is medium, YELLOW icon
                else if (value === "medium") {
                    complexity.innerHTML = `
                        <div>
                        <span class="badge badge-warning">MEDIUM</span>
                        </div>
                    `
                }
                // else the value is weak, RED icon
                else {
                    complexity.innerHTML = `
                        <div>
                        <span class="badge badge-danger">WEAK</span>
                        </div>
                    `
                }
            })

    }
</script>
